{% if not livemode %}
 <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ text_testmode }}
{% endif %}

<form >
{% if not livemode %}
  <script type="text/javascript" src="http://demo.api.gladepay.com/checkout.js"></script>
{% endif %}
{% if livemode %}
  <script type="text/javascript" src="https://api.gladepay.com/checkout.js"></script>
{% endif %}

  <div class="buttons">
    <div class="pull-right">
      <input type="button"  onclick="payWithGladepay()" value="{{button_confirm}}" class="btn btn-primary" />
    </div>
  </div>
</form>
 
<script>
  
  function payWithGladepay(){
      initPayment({
        MID: '{{key}}',
        email: '{{email}}',
        firstname: ' ',
        lastname: ' ',
        description: "",
        title: "",
        amount: {{amount}},
        country: "NG",
        currency: 'NGN',
        onclose: function() {

        },
        callback: function(response) {

        }
    });
  }
</script>
